# Text files
*.md text eol=lf
*.txt text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf

# Binary design/documentation files
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.zip binary
*.epro2 binary
